// font
$font-black: #000000;
$font-white: #FFFFFF;
$font-dark: #333333;
$font-gray: #65727B;
$font-gray-dark: #1B1F2B;
$font-green: #28514F;

// color
$col-black: #000000;
$col-white: #FFFFFF;
$col-main: #F9F7F4;
$col-gray: #AEB4B6;
$col-gray-light: #65727B;
$col-line: rgba(27, 32, 44, 0.5);
$col-green: #28514F;
$col-purple: #694BA9;
$col-blue: #0072B5;
$col-star: #F2A700;
$col-coral: #F8E6BE;

// shade
$bg-shade-1: #DAE1F4;
$bg-shade-2: #B0E6F3;
$bg-shade-3: #E0F0E6;
$bg-shade-4: #F4F0E9;

